In [76]:
##IMPORTING LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from statsmodels.tools.eval_measures import mse, rmse
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from matplotlib.gridspec import GridSpec
import matplotlib.ticker as ticker
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import numpy as np
from sklearn.datasets import load_digits
import matplotlib.pyplot as plt
digits = load_digits()

import warnings
warnings.filterwarnings('ignore')

In [3]:
df_pr = pd.read_csv("FINAL.csv")
df_pr.head()

,Year,Region,Estimated Population nr,Nr of Persons with Internet Access,% of Persons with Internet Access
0,2011,Border,784000.0,517440.0,66.0
1,2011,Dublin,2523000.0,2119320.0,84.0
2,2011,Ireland,9149700.0,7136766.0,78.0
3,2011,Mid-East,1314900.0,1143963.0,87.0
4,2011,Mid-West,933600.0,718872.0,77.0

In [15]:
dfe = pd.read_csv("dfe.csv")
dfe.head()

   Year      Region  Predicted Estimated Population nr
0  2023  South-West                         1483545.23
1  2024  South-West                         1497658.74
2  2025  South-West                         1511772.24
3  2026  South-West                         1525885.75
4  2027  South-West                         1539999.26

In [16]:
dfp = pd.read_csv("dfp.csv")
dfp.head()

   Year  Region  Predicted Nr of Persons with Internet Access
0  2023  Dublin                                    2897494.35
1  2024  Dublin                                    2963599.76
2  2025  Dublin                                    3029705.16
3  2026  Dublin                                    3095810.56
4  2027  Dublin                                    3161915.97

In [37]:
df_pred = dfe.merge(dfp, on=['Year', 'Region'], how='left')

In [38]:
df_pred.describe()

,Year,Predicted Estimated Population nr,Predicted Nr of Persons with Internet Access
count,45.000000,4.500000e+01,4.500000e+01
mean,2025.000000,2.348936e+06,2.297097e+06
std,1.430194,3.021037e+06,2.975458e+06
min,2023.000000,6.407404e+05,6.093294e+05
25%,2024.000000,9.239048e+05,8.838055e+05
50%,2025.000000,1.024233e+06,9.914065e+05
75%,2026.000000,1.612315e+06,1.567357e+06
max,2027.000000,1.079840e+07,1.084817e+07

In [39]:
df_pred['% of Persons with Internet Access'] = df_pred['Predicted Nr of Persons with Internet Access']/df_pred['Predicted Estimated Population nr']*100
df_pred.head()

,Year,Region,Predicted Estimated Population nr,Predicted Nr of Persons with Internet Access,% of Persons with Internet Access
0,2023,South-West,1483545.23,1413930.25,95.307526
1,2024,South-West,1497658.74,1447736.28,96.666633
2,2025,South-West,1511772.24,1481542.29,98.000363
3,2026,South-West,1525885.75,1515348.32,99.309422
4,2027,South-West,1539999.26,1549154.34,100.594486

In [40]:
#renaming columns to concat them with data frame with years from 
df_pred = df_pred.rename(columns={'Predicted Estimated Population nr': 'Estimated Population nr',
                                  'Predicted Nr of Persons with Internet Access': 'Nr of Persons with Internet Access'})

In [52]:
df_final = pd.concat([df_pr,df_pred],ignore_index=True)

In [53]:
df_final.describe()

,Year,Estimated Population nr,Nr of Persons with Internet Access,% of Persons with Internet Access
count,153.000000,1.530000e+02,1.530000e+02,153.000000
mean,2019.000000,2.201954e+06,1.993112e+06,89.245769
std,4.915068,2.809968e+06,2.580067e+06,7.590618
min,2011.000000,5.676000e+05,4.248340e+05,66.000000
25%,2015.000000,8.433529e+05,7.205340e+05,85.000000
50%,2019.000000,9.958000e+05,9.309599e+05,89.500000
75%,2023.000000,1.550029e+06,1.515348e+06,95.307526
max,2027.000000,1.079840e+07,1.084817e+07,104.962482

In [98]:
df_final['YN'] = df_final['% of Persons with Internet Access'].apply(lambda x: 0 if x < 99 else 1)

In [58]:
df_final.describe()

,Year,Estimated Population nr,Nr of Persons with Internet Access,% of Persons with Internet Access,YN
count,153.000000,1.530000e+02,1.530000e+02,153.000000,153.000000
mean,2019.000000,2.201954e+06,1.993112e+06,89.245769,0.535948
std,4.915068,2.809968e+06,2.580067e+06,7.590618,0.500344
min,2011.000000,5.676000e+05,4.248340e+05,66.000000,0.000000
25%,2015.000000,8.433529e+05,7.205340e+05,85.000000,0.000000
50%,2019.000000,9.958000e+05,9.309599e+05,89.500000,1.000000
75%,2023.000000,1.550029e+06,1.515348e+06,95.307526,1.000000
max,2027.000000,1.079840e+07,1.084817e+07,104.962482,1.000000

In [106]:
df_lreg = df_final.drop(df_final[(df_final["Region"] != 'Ireland') ].index)

X = df_lreg[['Year']]
y = df_lreg['YN']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

Logistic Regression

In [109]:
lr = LogisticRegression(solver='liblinear',multi_class='ovr')
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

1.0

SVM

In [110]:
svm = SVC(gamma='auto')
svm.fit(X_train, y_train)
svm.score(X_test, y_test)

1.0

Random Forest

In [111]:
rf = RandomForestClassifier(n_estimators=40)
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

1.0

In [112]:
from sklearn.model_selection import cross_val_score

Logistic regression model performance using cross_val_score

In [113]:
log_reg_score = cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), digits.data, digits.target,cv=3)
np.average(log_reg_score)

0.9193099610461881

svm model performance using cross_val_score

In [114]:
svm_score = cross_val_score(SVC(gamma='auto'), digits.data, digits.target,cv=3)
np.average(svm_score)

0.4346132442960489

random forest performance using cross_val_score

In [115]:
ran_forest = cross_val_score(RandomForestClassifier(n_estimators=40),digits.data, digits.target,cv=3)
np.average(ran_forest)

0.9298831385642737

In [120]:
years_to_predict = np.array([2023, 2024, 2025, 2026, 2027,2028,2029,2030])

In [119]:
pred = rf.predict([[2025]])
pred

array([0], dtype=int64)