# Preparing file with Estimated population

**Next modifications will be applied to the PEA04.csv file:**
* removing rows that cotain data splitted by sex
* In column 'Region' replacing value 'State' with 'Ireland' and 'Midland' with 'Midlands'
* Renaming last column with values
* Multipliyng values by 1000
* Export DataFrame to a csv File

**Note:** Please check "Data overview" Jupiter Notebook for reference

In [3]:
##IMPORTING LIBRARIES
import pandas as pd
import statistics as stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Creating a DataFrame from file with Estimated Population statistic and displaing random rows
df_pop = pd.read_csv("PEA04.csv")
df_pop.sample(8)

,STATISTIC Label,Year,Age Group,Sex,Region,UNIT,VALUE
4933,Estimated Population (Persons in April),2020,55 - 59 years,Female,Border,Thousand,12.9
3056,Estimated Population (Persons in April),2016,All ages,Both sexes,South-West,Thousand,685.0
5478,Estimated Population (Persons in April),2021,60 - 64 years,Female,Dublin,Thousand,35.3
455,Estimated Population (Persons in April),2011,80 - 84 years,Female,South-West,Thousand,6.4
2341,Estimated Population (Persons in April),2015,50 - 54 years,Female,Border,Thousand,12.7
953,Estimated Population (Persons in April),2012,80 - 84 years,Both sexes,Midland,Thousand,4.2
220,Estimated Population (Persons in April),2011,40 - 44 years,Both sexes,South-East,Thousand,29.9
3334,Estimated Population (Persons in April),2017,45 - 49 years,Male,South-East,Thousand,15.1

In [5]:
#Explore information about the DataFrame, i.e. nr of rows, nr of not null values, data types for columns, etc...
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6669 entries, 0 to 6668
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC Label  6669 non-null   object
 1   Year             6669 non-null   int64
 2   Age Group        6669 non-null   object
 3   Sex              6669 non-null   object
 4   Region           6669 non-null   object
 5   UNIT             6669 non-null   object
 6   VALUE            6669 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 364.8+ KB

In [6]:
#removing rows that reflect data splitted by sex and leaving only data related to both sexes. 

df_pop = df_pop.drop(df_pop[(df_pop["Sex"] != "Both sexes")].index)

#Checking and comparing nr of rows

df_pop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2223 entries, 0 to 6650
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC Label  2223 non-null   object
 1   Year             2223 non-null   int64
 2   Age Group        2223 non-null   object
 3   Sex              2223 non-null   object
 4   Region           2223 non-null   object
 5   UNIT             2223 non-null   object
 6   VALUE            2223 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 138.9+ KB

In [7]:
#it should be 1/3 left and it's corerct
6669/3

2223.0

In [8]:
#quick check for left data
df_pop["Sex"].unique()

array(['Both sexes'], dtype=object)

In [9]:
# In column 'Region' replacing value 'State' with 'Ireland' and 'Midland' with 'Midlands'
df_pop = df_pop.replace('State', 'Ireland')

In [10]:
df_pop = df_pop.replace('Midland', 'Midlands')

In [11]:
#Renaming last column with values
df_pop = df_pop.rename(columns={'VALUE': 'Estimated Population nr'})

In [12]:
#Multipliyng values by 1000
df_pop['Estimated Population nr'] = df_pop['Estimated Population nr'].mul(1000)

In [13]:
#Now we have 'Number' as a UNIT
df_pop = df_pop.replace('Thousand', 'Number')

In [14]:
#Checking region values
df_pop.Region.unique()

array(['Ireland', 'Border', 'West', 'Mid-West', 'South-East',
       'South-West', 'Dublin', 'Mid-East', 'Midlands'], dtype=object)

In [15]:
#last final check 
df_pop.sample(8)

,STATISTIC Label,Year,Age Group,Sex,Region,UNIT,Estimated Population nr
1595,Estimated Population (Persons in April),2014,10 - 14 years,Both sexes,West,Number,29900.0
6433,Estimated Population (Persons in April),2023,50 - 54 years,Both sexes,Mid-East,Number,55900.0
811,Estimated Population (Persons in April),2012,55 - 59 years,Both sexes,Border,Number,22400.0
3814,Estimated Population (Persons in April),2018,40 - 44 years,Both sexes,Mid-East,Number,58200.0
1865,Estimated Population (Persons in April),2014,60 - 64 years,Both sexes,West,Number,23800.0
4025,Estimated Population (Persons in April),2018,80 - 84 years,Both sexes,West,Number,9100.0
5488,Estimated Population (Persons in April),2021,65 - 69 years,Both sexes,Mid-East,Number,31600.0
2840,Estimated Population (Persons in April),2016,50 - 54 years,Both sexes,South-West,Number,44800.0

In [16]:
#Export DataFrame to a csv File
df_pop.to_csv("PEA04_c.csv", index = False)

**Now we have file ready to use**